/* style.css
 * This file provides css styles.
 */
h1 {
	font-weight: bold;
	font-size: 2em;
}

.blue {
	color: #009ee3;
}


.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
	text-align:center;
	z-index:0;
}

.overlay {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}