<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ template "title" . }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/static/stylesheets/style.css" />
	<link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css" />
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/video-intro.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
	{{ template "content" . }}
</body>
</html>