<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ template "title" . }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/static/stylesheets/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
	{{ template "content" . }}
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h4>Info</h4>
				<p>{{ .Name }} {{ .Surname }}</p>
				<p>{{ .Email }}</p>
			</div>
			<div class="col-sm-6 text-center">
				<h3 class="blue">Hyperledger Fabric Client</h3>
				<p>Completely written using Golang!</p>
			</div>
			<div class="col-sm-3 text-right">
				<h4>Source Code</h4>
				<p><a href="https://github.com/onezerobinary/MyFirstGoApp" target="_blank">GitHub</a></p>
			</div>
		</div>
	</div>
	<section id="contents"></section>
</body>
</html>